[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fad"]
	path = fad
	url = https://github.com/somakd/fad
	shallow = true
	registered = true
